<h1>Teamsssssss</h1>
<%= link_to 'New Team', new_manager_team_leader_path %>
<br>
<br>
<br>
<div>
    <% @team_leaders.each do |manager_team_leader| %>
    <%= link_to manager_team_leader.team_name, manager_team_leader_path(manager_team_leader) %>
    <br>
</div>
<% end %>

<%= form_tag manager_team_leaders_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a team"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



