  <div class="wrapper">


    <div id="content">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
      </button>
      <%= render 'sidebar' %>
    </div>



  <div class="container-full   content-master">
    <div class="row">


      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <!-- Inicio da 1ยบ coluna -->


        <!-- Box Status -->
        <div class="m-2">
          <div class="row justify-content-center">
            <div class="card text-white bg-secondary m-1" style="width: 120px;">
              <div class="card-header text-center">Total</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size: 28px;"><%= @work_orders.all.count %></h5>
              </div>
            </div>

            <div class="card text-white bg-primary m-1" style="width: 120px;">
              <div class="card-header text-center" style="font-size: 13px;">Abertos</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size: 28px;"><%= @work_orders.where(status: 1).count %></h5>
              </div>
            </div>
            <div class="card text-white bg-info m-1" style="width: 120px;">
              <div class="card-header text-center" style="font-size: 13px;">Andamento</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size: 28px;"><%= @work_orders.where(status: 2).count %></h5>
            </div>
            </div>
            <div class="card text-white bg-success m-1" style="width: 120px;">
              <div class="card-header text-center" style="font-size: 13px;">Realizados</div>
              <div class="card-body">
                <h5 class="card-title text-center" style="font-size: 28px;"><%= @work_orders.where(status: 3).count %></h5>
              </div>
             </div>
          </div>
        </div>
        <!-- Box Status fim -->



        <!-- GRAFICOS -->
        <div class="row">
          <%= area_chart WorkOrder.group(:due_date).count %>
        </div>

        <div class="row">
          <%= bar_chart TeamLeader.includes(:work_orders).group(:team_name).count(:work_orders) %>
        </div>


        <!-- CALENDARIO -->
        <div class="card m-2">
          <div id="calendar" class="card-dashboard-header" data-event="<%= @events.to_json %>" ></div>
        </div>




      </div>
      <!-- Fim da 1ยบ coluna -->


    <div class="col-xs-12 col-sm-6 col sm-offset-3">
      <!-- Inicio da 2ยบ coluna -->

                <!-- MAPA -->
                <div class="card m-2"
                     id="map"
                     style="width: 97%; height: 300px;"
                     data-markers="<%= @markers.to_json %>"
                     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>



            <!--  INDEX WOs -->
            <div class="card m-2">
              <div class="card-header text-center" style="font-size: 12px; min-width: 309px;"></div>
                <div class="card-body text-center card-search">

                        <!-- SEARCH -->
                        <%= form_tag manager_work_orders_path, method: :get do %>
                        <div class="row">

                          <span style="font-size: 12px; padding: 0px 20px;">Pesquisar :</span>

                        <div class="search-form-control form-group">
                          <%= text_field_tag :query,
                            params[:query],
                            class: "form-control string required",
                            placeholder: "Buscar pela equipe" %>
                          <%= submit_tag "Filtrar", class: "btn btn-outline-secondary" %>
                          <% end %>
                        </div>
                        </div>



                          <!-- FILTROS -->
                          <span class="card-text d-flex justify-content-center my-4" style="font-size: 10px;">
                             <form action= "work_orders" >
                                <select name="team">
                                  <% @team_leaders.each do |team| %>
                                    <option value="<%= team.id %>"><%= team.team_name %></option>
                                  <% end %>
                                </select>
                                <select name="priority">
                                  <% @work_orders_full.pluck(:priority).uniq.each do |work_order| %>
                                    <option value="<%= work_order %>"><%= priority_level(work_order) %></option>
                                  <% end %>
                                </select>
                                <select name="status">
                                  <% @work_orders_full.pluck(:status).uniq.each do |work_order| %>
                                    <option value="<%= work_order %>"><%= status_name(work_order) %></option>
                                  <% end %>
                                </select>

                                <input type="submit" value="Localizar" class="btn btn-outline-secondary btn-sm m-1"><span> <%= link_to "Limpar", manager_dashboard_index_path, class: "btn btn-light btn-sm m-1" %></span>
                              </form>
                          </span>

                            <!-- Work Orders index -->
                            <div class="card my-3 text-center" style="font-size: 11px; padding: 5px;" >
                              <table class="table table-borderless table-hover table-sm">
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="col">Work Order</th>
                                    <th scope="col">Prioridade</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Team</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% @work_orders.each do |order| %>
                                    <tr>
                                      <th scope="row"><%= link_to "#{order.name}", manager_work_order_path(order) %> </th>
                                        <td>  <% if order.priority == 3 %> <p class="btn btn-outline-danger" style="font-size: 10px; padding: 2px 15px; border-radius: 5px;">Alta</p>
                                          <% elsif order.priority == 2 %> <p class="btn btn-outline-dark" style="font-size: 10px; padding: 2px 15px; border-radius: 5px;">Media</p>
                                          <% else %> <p class="btn btn-outline-secondary" style="font-size: 10px; padding: 2px 15px; border-radius: 5px;">Baixa</p>
                                          <% end %> </td>
                                        <td> <% if order.status == 1 %> <p class="btn btn-primary" style="font-size: 10px; padding: 2px 15px; border-radius: 5px;">Aberto</p>
                                          <% elsif order.status == 2 %> <p class="btn btn-info" style="font-size: 10px; padding: 2px 15px; border-radius: 5px;">Andamento</p>
                                          <% else %> <p class="btn btn-success" style="font-size: 10px; color: white; padding: 2px 15px; border-radius: 5px;">Concluido</p>
                                          <% end %> </td>
                                        <td> <%= order.team_leader.team_name %></td>
                                    </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                  </div>
                </div>
              </div>

          </div>
          <!-- colun 2 fim -->

    </div>
  </div>
</div>
