<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col sm-offset-3">
      <div class="form-post">
        <div class="row justify-content-center">
          <img src="<%= image_path("logo1.jpg")%>" style="width: 250px;">
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary" %>

          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<style>

  body {
    background: url(https://mb.cision.com/Public/14078/2385954/b95abf31f283d6b8_org.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .btn-primary {
    background: #141B41;
    border-color: #141B41;
  }
</style>
