<div class="container-full">
  <div class="row justify-content-center">
    <div class="col-4 column1">

      <div id="content">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
          <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
          </div>
      <!-- </nav> -->
      </div>
      <%= render 'sidebar' %>

    </div>


<div class="col-4 column2">

</div>
<div class="col-4">
  <h1>WO-index</h1>


  <%= link_to "Criar Order", new_manager_work_order_path %>


  <% @work_orders.each do |manager_work_order| %>
  <ul>
    <li>
   <%= link_to manager_work_order.name, manager_work_order_path(manager_work_order) %></li>
  </ul>
<% end %>
</div>

  </div>
</div>

<%= form_tag manager_work_orders_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a team"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


