<div class="container-full">
  <div class="row">

    <div class="col-4 column1">
      <div id="content">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
          </button>
        </div>
      <!-- </nav> -->
      </div>
      <%= render 'sidebar' %>
    </div>


    <div class="col-4">
      <div id="calendar"></div>
      <h1>WO-index</h1>

      <div class="col-4">
        <%= link_to "Criar Order", new_manager_work_order_path %>
        <ul>
        <% @work_orders.each do |order| %>
          <li>
          <%= link_to "#{order.name}", manager_work_order_path(order)%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
 </div>


<%= form_tag manager_work_orders_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a team"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



  <form action= "work_orders" >
    <select name="team">
      <% @team_leaders.each do |team| %>
        <option value="<%= team.id %>"><%= team.team_name %></option>
      <% end %>
    </select>
    <input type="submit" value="Submit">
  </form>

  <form action= "work_orders" >
    <select name="priority">
      <% @work_orders_full.each do |work_order| %>
        <option value="<%= work_order.priority %>"><%= priority_level(work_order.priority) %></option>
      <% end %>
    </select>
    <input type="submit" value="Submit">
  </form>

  <form action= "work_orders" >
    <select name="status">
      <% @work_orders_full.each do |work_order| %>
        <option value="<%= work_order.status %>"><%= status_name(work_order.status) %></option>
      <% end %>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
