<div class="wrapper">
  <div id="content">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span>Toggle Sidebar</span>
      </button>
  <!-- </nav> -->
  <%= render 'sidebar' %>
</div>

<div class="container content-master">
  <div class="row d-flex justify-content-around" id="rowTopTop">
    <div class="col-6">
      <h4>Operacoes / Detalhes</h4>
    </div>
    <div class="col-4">
      <select name="due_date">
        <option ><%= @work_order.due_date %></option>
      </select>
      <br><br>
      <h2 id="h2"><%= status_name(@work_order.status) %></h2>
    </div>
  </div>
  <div class="row d-flex align-items-center" id="rowTop">
    <div class="col-6">
      <div class="card p-2">
        <%= pie_chart @chart %>
      </div>
    </div>
    <div class="col-6">
      <div class="card p-2">
        <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
        <%= timeline [
          ["Gerente", "2019-01-01", "2019-01-02"],
          ["Pré-visita", "2019-01-02", "2019-01-04"],
          ["Execução", "2019-01-05", "2019-01-12"],
          ["Fase-01", "2019-01-06", "2019-01-08"],
          ["Fase-02", "2019-01-08", "2019-01-10"],
          ["Fase-03", "2019-01-11", "2019-01-12"]
        ] %>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center my-5" id="rowBottom">
    <div class="col-8">
    <h2>Detalhes da Operacao</h2>
      <div class="row">
        <div class="card justify-content-center" id="a">
          <h3>Ordem de serviço: <%= @work_order.name %></h3>
          <h4>Prazo de Entrega: <p><%= @work_order.due_date %></p></h4>
          <h4>Prioridade: <p> <%= priority_level(@work_order.priority) %></p></h4>
        </div>
      </div>
      <div class="row">
        <div class="card justify-content-center" id="b">
          <h4>Status:<%= status_name(@work_order.status) %></h4>
        </div>
      </div>
      <div class="row">
        <div class="card justify-content-center" id="c">
          <p><h3>Descrição:</h3> <%= @work_order.description %></</p>
        </div>
      </div>
      <div class="row">
        <div class="card justify-content-center" id="d">
          <p><h3>Report:</h3> <%= @work_order.report %> </p>
        </div>
      </div>
    </div>

    <div class="col-2">
        <div class="photo">
          <%= cl_image_tag @work_order.photo, height: 180, width: 370, crop: :fill %>
          <br><br>
          <%= cl_image_tag @work_order.photo, height: 180, width: 370, crop: :fill %>
        </div>
      <div
      id="map"
      style="width: 280%;
      height: 280px;"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

