<div class="navbar navbar-expand-sm navbar-light navbar-mobile ">
  <%= link_to "#", class: "navbar-brand" do %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <li class="nav-item dropdown">

        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container p-3 mb-3 bg-white rounded">
  <div class="card py-5 px-4 mb-2 bg-white rounded shadow-sm">
  <h3 align="center"> Ordem de Serviço</h3>

      <h4 align="center"><%= @work_order.name %></h4>

          <% if @work_order.priority == 3 %> <p class="btn-danger userbtn btn-lg" style="font-size: 15px; padding: 2px 15px; border-radius: 5px;">Prioridade:  Alta</p>
            <% elsif @work_order.priority == 2 %> <p class="btn-warning userbtn btn-lg" style="font-size: 15px; padding: 2px 15px; border-radius: 5px;">Prioridade:  Media</p>
            <% else %> <p class="btn btn-primary btn-lg" style="font-size: 15px; padding: 2px 15px; border-radius: 5px;">Prioridade:  Baixa</p>
          <% end %>

          <% if @work_order.status == 1 %> <p class="btn-warning userbtn" style="font-size: 15px; padding: 2px 15px; border-radius: 5px;">Status: Aberto</p>
            <% elsif @work_order.status == 2 %> <p class="btn-primary userbtn" style="font-size: 15px; padding: 2px 15px; border-radius: 5px;">Status: Em andamento</p>
            <% else %> <p class="btn btn-success" style="font-size: 15px; color: white; padding: 2px 15px; border-radius: 5px;">Status: Concluido</p>
          <% end %>

      <p class="card" align="center" style= "font-size: 0.9em; padding: 15px 8px;"><%= @work_order.description %></p>
</div>

<div class="container card p-3 mb-2 bg-white rounded shadow-sm">
  <h6 align="center"><%= @work_order.address%> </h6>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

<div class="container shadow-lg p-3 mb-3 bg-white rounded">

  <div class="">

    <%= simple_form_for @work_order do |f| %>


    <div id='tasks'>
    <h4>Tarefas:</h4>
    <%= f.simple_fields_for :tasks do |task| %>
    <div class='nested-fields'>
      <div class="card m-2">
      <div class="row m-2">
        <div class="col-8">
          <div class="pl-2 pr-4 py-2">
            <%= task.object.description %>
          </div>
        </div>
        <div class="col-4">
            <%= task.input :done, :as => :boolean %>
        </div>
      </div>
      </div>
    </div>

    <% end %>


    <%= f.input :report %>
    <%= f.input :status, collection: { Aberto: 1, "Em Andamento": 2, Concluido: 3 } %>
    <%= f.input :start_photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: ' 📷 Upload Start Photo', class: "btn-primary" %>
    <%= f.input :end_photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: ' 📷 Upload End Photo', class: "btn-primary" %>

    <div class="m-5">
    <div class="row justify-content-center">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= f.input :start_photo_cache, as: :hidden %>
    <%= f.input :end_photo_cache, as: :hidden %>
    <% end %>
    </div>
    </div>

   </div>
</div>
