<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <li class="nav-item dropdown">

        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>



<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card p-5 shadow-lg p-3 mb-5 bg-white rounded">
  <h1 align="center"> Work Order </h1>

      <h1 align="center"><%= @work_order.name %></h1>
      <h3 align="center">Priority:  <%= @work_order.priority %></h3>
      <p align="center"><%= @work_order.description %></p>
</div>

<div class="container card p-5 shadow-lg p-3 mb-5 bg-white rounded">
  <h5 align="center"><%= @work_order.address%> </h5>
  <br>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container shadow-lg p-3 mb-5 bg-white rounded">

  <div class="card p-3">

    <%= simple_form_for @work_order do |f| %>

    <h3>Tasks</h3>
    <div id='tasks'>
    <%= f.simple_fields_for :tasks do |task| %>
    <%#= render 'task_fields', :f => task %>
    <div class='nested-fields'>
        <%= task.object.description %>
        <%= task.input :done, :as => :boolean %>
        <%#= link_to_remove_association "remove task", f %>
    </div>

    <% end %>


    <%= f.input :report %>
    <%= f.input :status, collection: { Aberto: 1, "Em Andamento": 2, Concluido: 3 } %>
    <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: ' 📷 Upload a photo', class: "btn-primary" %>

    <div class="m-5">
    <div class="row justify-content-center">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= f.input :photo_cache, as: :hidden %>
    <% end %>
    </div>
    </div>

  </div>
</div>
